---
import Layout from "../layouts/Layout.astro";
import {
  balance,
  name as full_name,
  profit,
  deposit,
  withdraws,
} from "../data.json";
---

<Layout title="Profile | QuodraFx">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="">
         <!-- <div class="row pb-1">
            <div class="col-sm-auto">
              <div
                class="alert alert-danger alert-top-border alert-dismissible fade show"
                role="alert"
              >
                <i
                  class="ri-error-warning-line me-3 align-middle fs-16 text-danger"
                ></i>
                <strong>Account status</strong>
                 - not verified!
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                >
                </button>
              </div>
            </div> -->
          </div>
          <!-- 1 -->
          <div class="row mb-3 pb-1">
            <div class="col-12">
              <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                <div class="flex-grow-1">
                  <h4 class="fs-16 mb-1">Laura Queen</h4>
                  <p class="text-muted mb-0">
                    Here's what's happening with your trade today.
                  </p>
                </div>
                <!-- end-left -->
                <div class="mt-3 mt-lg-0">
                  <form action="javascript:void(0);">
                    <div class="row g-3 mb-0 align-items-center">
                      <div class="col-sm-auto">
                        <div class="input-group">
                          <input
                            type="text"
                            value={new Date().toDateString()}
                            class="form-control border-0 dash-filter-picker shadow"
                            data-provider="flatpickr"
                            data-range-date="true"
                            data-date-format="d M, Y"
                            data-deafult-date="01 Jan 2022 to 31 Jan 2022"
                            readonly
                          />
                          <div
                            class="input-group-text bg-primary border-primary text-white"
                          >
                            <i class="ri-calendar-2-line"></i>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </form>
                </div>
                <!-- end right -->
              </div>
            </div>
          </div>
          <!-- end row -->
          <!-- Stats (2) -->
          <div class="row mb-2 pb-1">
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-warning mb-0">
                        Balance
                      </p>
                      <h2 class="mt-3 mb-3 ff-secondary fw-semibold">
                        <span class="">{balance}</span>
                      </h2>

                      <div class="d-flex justify-content-between gap-3">
                        <div>
                          <p class="text-muted mb-0 text-uppercase fs-13 mb-2">
                            Valid thru
                          </p>
                          <h5 class="text-muted mb-0 fs-13">08/08</h5>
                        </div>

                        <div>
                          <p class="text-muted mb-0 text-uppercase fs-13 mb-2">
                            Card holder
                          </p>
                          <a href="" class="text-secondary fs-13">{full_name}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-muted mb-0">
                        Earnings
                      </p>
                      <h2
                        class="mt-3 ff-secondary fw-semibold"
                        style="margin-bottom: 1.2rem;"
                      >
                        <span class="">{profit}</span>
                      </h2>
                      <p class="mb-0 text-muted">
                        <span class="badge bg-light text-muted mb-0">
                          {20} %
                        </span> vs. previous week
                      </p>
                    </div>
                    <!-- div -->
                    <div class="d-flex align-items-start">
                      <div class="circle bg-success">
                        <div class="circle-inner">
                          <h5 class="text-muted fs-17 mb-0">{20}</h5>
                          <h3 class="text-muted text-uppercase mb-0">
                            positive
                          </h3>
                        </div>
                      </div>
                    </div>

                    <!-- {{--
                                    </div> --}} -->
                  </div>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-muted mb-0">
                        Total Deposit
                      </p>
                      <h2
                        class="mt-3 ff-secondary fw-semibold"
                        style="margin-bottom: 1.2rem;"
                      >
                        <span class="">{deposit}</span>
                      </h2>
                      <a
                        class="btn btn-soft-info btn-sm"
                        href="{{route('deposit.show', {username:user_name})}}"
                        >Deposit asset</a
                      >
                    </div>
                    <!-- {{-- <div> --}} -->
                    <div class="d-flex align-items-start">
                      <div class="avatar-sm flex-shrink-0">
                        <span
                          class="avatar-title bg-soft-info rounded-circle fs-2"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trending-down text-info"
                          >
                            <polyline points="23 18 13.5 8.5 8.5 13.5 1 6"
                            ></polyline>
                            <polyline points="17 18 23 18 23 12"></polyline>
                          </svg>
                        </span>
                      </div>
                    </div>

                    <!-- {{--
                                    </div> --}} -->
                  </div>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-danger mb-0">
                        Total Withdraws
                      </p>
                      <h2
                        class="mt-3 ff-secondary fw-semibold"
                        style="margin-bottom: 1.2rem;"
                      >
                        <span class="">{withdraws}</span>
                      </h2>
                      <a
                        class="btn btn-danger btn-sm"
                        href="{{route('withdraw.show', {username:user_name})}}"
                        >Make withdrawal</a
                      >
                    </div>
                    <!-- {{-- <div> --}} -->
                    <div class="d-flex align-items-start">
                      <div class="avatar-sm flex-shrink-0">
                        <span
                          class="avatar-title bg-soft-danger rounded-circle fs-2"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trending-up text-danger"
                          >
                            <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"
                            ></polyline>
                            <polyline points="17 6 23 6 23 12"></polyline>
                          </svg>
                        </span>
                      </div>
                    </div>

                    <!-- {{--
                                    </div> --}} -->
                  </div>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-primary mb-0">
                        Total Bonus
                      </p>
                      <h2
                        class="mt-3 ff-secondary fw-semibold"
                        style="margin-bottom: 1.2rem;"
                      >
                        <span class="">{0}</span>
                      </h2>
                      <p class="mb-0 text-muted">
                        <!-- {{-- <span class="badge bg-light text-muted mb-0"> --}} -->
                        <!-- {{-- <i class="ri-arrow-up-line align-middle"></i> --}}
                                                {{-- </span> --}} -->

                         your all time total bonus
                      </p>
                    </div>
                    <!-- {{-- <div> --}} -->
                    <div class="d-flex align-items-start">
                      <div class="avatar-sm flex-shrink-0">
                        <span
                          class="avatar-title bg-soft-primary rounded-circle fs-2"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-gift text-primary"
                          >
                            <polyline points="20 12 20 22 4 22 4 12"></polyline>
                            <rect x="2" y="7" width="20" height="5"></rect>
                            <line x1="12" y1="22" x2="12" y2="7"></line>
                            <path
                              d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"
                            ></path>
                            <path
                              d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"
                            ></path>
                          </svg>
                        </span>
                      </div>
                    </div>

                    <!-- {{--
                                    </div> --}} -->
                  </div>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-xl-4 col-md-6">
              <!-- card -->
              <div class="card cards-header-home card-animate">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="fw-medium text-uppercase text-secondary mb-0">
                        Total Referral Bonus
                      </p>
                      <h2
                        class="mt-3 ff-secondary fw-semibold"
                        style="margin-bottom: 1.2rem;"
                      >
                        $<span class="">{0}</span>
                      </h2>
                      <p class="mb-0 text-muted">
                        <!-- {{-- <span class="badge bg-light text-muted mb-0"> --}}
                                                {{-- <i class="ri-arrow-up-line align-middle"></i> --}} -->
                        <!-- {{-- </span> --}} -->
                         your all time total referral bonus
                      </p>
                    </div>
                    <!-- {{-- <div> --}} -->
                    <div class="d-flex align-items-start">
                      <div class="avatar-sm flex-shrink-0">
                        <span
                          class="avatar-title bg-soft-secondary rounded-circle fs-2"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-repeat text-secondary"
                          >
                            <polyline points="17 1 21 5 17 9"></polyline>
                            <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                            <polyline points="7 23 3 19 7 15"></polyline>
                            <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                          </svg>
                        </span>
                      </div>
                    </div>

                    <!-- {{--
                                    </div> --}} -->
                  </div>
                </div>
              </div>
            </div><!-- end col -->
          </div>
          <!-- end row-->
          <!-- {{-- Trade Duration (3) --}} -->
          <div class="row mb-3 pb-1">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="margin-bottom: 1.7rem !important;"
                  >
                    Trade Duration
                  </h5>
                  <div
                    class="progress animated-progress custom-progress progress-label"
                  >
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 20%"
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div class="label">{20}%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- {{-- end row --}} -->
          <!-- {{-- Graph (3) --}} -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body trade-widget-viewer">
                  <div class="tradingview-widget-container">
                    <div id="tradingview_19631">
                      <div
                        id="tradingview_d9dd3-wrapper"
                        style="position: relative;box-sizing: content-box;width: auto;height: calc(498px - 32px);margin: 0 auto !important;padding: 0 !important;font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif;"
                      >
                        <div
                          style="width: auto;height: calc(498px - 32px);background: transparent;padding: 0 !important;"
                        >
                          <iframe
                            id="tradingview_d9dd3"
                            src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_d9dd3&symbol=COINBASE%3ABTCUSD&interval=D&symboledit=1&saveimage=1&toolbarbg=f1f3f6&hotlist=1&studies=%5B%5D&theme=Dark&style=0&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=dashboard.timelineinvestment.space&utm_medium=widget_new&utm_campaign=chart&utm_term=COINBASE%3ABTCUSD#%7B%22page-uri%22%3A%22dashboard.timelineinvestment.space%2Faccount%2Findex.php%22%7D"
                            style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;"
                            frameborder="0"
                            allowtransparency="true"
                            scrolling="no"
                            allowfullscreen=""
                          >
                          </iframe>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tradingview-widget-copyright"
                      style="width: 100%;"
                    >
                    </div>
                    <script
                      type="text/javascript"
                      src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                      new TradingView.widget({
                        width: "auto",
                        height: 498,
                        symbol: "COINBASE:BTCUSD",
                        interval: "D",
                        timezone: "Etc/UTC",
                        theme: "Dark",
                        style: "0",
                        locale: "en",
                        toolbar_bg: "#f1f3f6",
                        enable_publishing: false,
                        allow_symbol_change: true,
                        hotlist: true,
                        container_id: "tradingview_19631",
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- {{-- end row --}} -->
        </div>
        <!-- {{-- end col --}} -->
        <div class="col-auto layout-rightside-col"></div>
        <!-- {{-- end col --}} -->
      </div>
    </div>
  </div>
</Layout>
